@font-face {
    font-family: Circe; /* Гарнитура шрифта */
    src: local(circe), url(../fonts/Circe-Regular.ttf); /* Для остальных браузеров */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Circe; /* Гарнитура шрифта */
    src: local(circe), url(../fonts/Circe-Bold.ttf); /* Для остальных браузеров */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Circe; /* Гарнитура шрифта */
    src: local(circe), url(../fonts/Circe-ExtraBold.ttf); /* Для остальных браузеров */
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: local(circe), url(../fonts/roboto-regular.ttf); /* Для остальных браузеров */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: local(circe), url(../fonts/roboto-medium.ttf); /* Для остальных браузеров */
    font-weight: 500;
    font-style: normal;
}