<% layout('./layout/errorPage') -%>
<% block('title', 'Error page'); -%>

<main>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; color: white;">
        <h1>Page not found</h1>
        <a href="./" style="color: inherit; text-underline-offset: 3px;">Back to main page</a>
    </div>
</main>

