<% layout('./layout/mainPage') -%>
<% block('title', 'MoonLens'); -%>

<main class="main">

    <section class="intro">
        <picture class="intro__bg-image">
            <source srcset="images/bg-image.webp" type="image/webp">
            <img src="images/bg-image.jpg" alt="" class="image">
        </picture>

        <div class="container">
            <div class="intro__content">
                <h1 class="intro__title slide-up-animation">
                    Ночные линзы Moon Lens — <br> Отличное зрение на весь день
                </h1>

                <p class="intro__subtitle slide-up-animation animation-delay-3">
                    Ощути свою свободу с ночными линзами MoonLens! <br> Без очков. Без операций. Без дневных линз.
                </p>
    
                <div class="intro__buttons">
                    <button type="button" data-scroll="#search" class="intro__clinic-choose-button 
                    clinic-choose-button button fade-in-animation animation-duration-5">
                        Выбрать клинику
                    </button>
                    <button class="intro__more-info-button more-info-button button fade-in-animation animation-duration-5">
                        Как это работает?
                    </button>
                </div>

                <div class="intro__cards cards">

                    <div class="cards__item slide-up-animation animation-delay-1">
                        <picture class="cards__image">
                            <source srcset="images/card-image-1.webp" type="image/webp">
                            <img src="images/card-image-1.jpg" alt="card__image1" class="image">
                        </picture>
                        <div class="cards__content">
                            <h4 class="cards__title">
                                Свобода <br> движения
                            </h4>
                            <p class="cards__text">
                                Веди активный образ жизни где <br> бы то ни было и при любых условиях
                            </p>
                        </div>
                    </div>
    
                    <div class="cards__item slide-up-animation animation-delay-2">
                        <picture class="cards__image">
                            <source srcset="images/card-image-2.webp" type="image/webp">
                            <img src="images/card-image-2.jpg" alt="card__image2" class="image">
                        </picture>
                        <div class="cards__content">
                            <h4 class="cards__title">
                                Свобода <br> стремлений
                            </h4>
                            <p class="cards__text">
                                Занимайся любыми видами спорта <br> и достигай новых вершин
                            </p>
                        </div>
                    </div>
    
                    <div class="cards__item slide-up-animation animation-delay-3">
                        <picture class="cards__image">
                            <source srcset="images/card-image-3.webp" type="image/webp">
                            <img src="images/card-image-3.jpg" alt="card__image3" class="image">
                        </picture>
                        <div class="cards__content">
                            <h4 class="cards__title">
                                Свобода общения <br> и самовыражения
                            </h4>
                            <p class="cards__text">
                                Раскрой свой потенциал общения <br> и самовыражения
                            </p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="our-clients">

            <h2 class="our-clients__title fade-in-animation">
                Ночные линзы MoonLens - коррекция зрения <br> во время сна для 100% зрения днем
            </h2>
            <h3 class="our-clients__section-title section-title fade-in-animation">
                Кому подойдут MoonLens?
            </h3>

            <div class="our-clients__preview preview">

                <div class="preview__item slide-up-animation animation-delay-0">
                    <picture class="preview__image">
                        <source srcset="images/preview__image1.webp" type="image/webp">
                        <img src="images/preview__image1.png" alt="preview__image1" class="image">
                    </picture>
                    <h5 class="preview__title">
                        Пациенты от 6 лет до 60 лет
                    </h5>
                    <p class="preview__text">
                        с близорукость до -7,00 диоптрий <br> без или с астигматизмом до -4,00 диоптрий
                    </p>
                </div>

                <div class="preview__item slide-up-animation animation-delay-1">
                    <picture class="preview__image">
                        <source srcset="images/preview__image2.webp" type="image/webp">
                        <img src="images/preview__image2.png" alt="preview__image2" class="image">
                    </picture>
                    <h5 class="preview__title">
                        Дети и подростки
                    </h5>
                    <p class="preview__text">
                        с целью торможения прогрессирования близорукости
                    </p>
                </div>

                <div class="preview__item slide-up-animation animation-delay-2">
                    <picture class="preview__image">
                        <source srcset="images/preview__image3.webp" type="image/webp">
                        <img src="images/preview__image3.png" alt="preview__image3" class="image">
                    </picture>
                    <h5 class="preview__title">
                        Взрослые пациенты
                    </h5>
                    <p class="preview__text">
                        с непереносимостью мягких линз, противопоказания к лазерной коррекции, а также в силу
                        специфики профессии
                    </p>
                </div>

            </div>
        </section>
    </div>

    <section class="info-bar">
        <div class="container">
            <p class="info-bar__text slideup-animation">
                Остановка прогрессирования близорукости<br>происходит у 60%-90% детей и подростков!
            </p>

            <img class="info-bar__eye fade-in-animation animation-delay-0 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-1">
            <img class="info-bar__eye fade-in-animation animation-delay-1 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-2">
            <img class="info-bar__eye fade-in-animation animation-delay-2 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-3">
            <img class="info-bar__eye fade-in-animation animation-delay-3 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-4">
        </div>
    </section>

    <div class="container">
        <section class="how-it-works" id="how-it-works">
            <picture class="how-it-works__image slide-right-animation">
                <source srcset="images/how-it-works__image.webp" type="image/webp">
                <img src="images/how-it-works__image.png" alt="how-it-works__image" class="image">
            </picture>
            <div class="how-it-works__content">
                <h3 class="how-it-works__section-title section-title fade-in-animation">
                    Как работают ночные линзы MoonLens?
                </h3>
                <ul class="how-it-works__list list">
                    <li class="list__item slide-left-animation animation-delay-0">
                        Ночные линзы изменяют форму самого верхнего слоя эпителия роговицы.
                    </li>
                    <li class="list__item slide-left-animation animation-delay-1">
                        Перед сном пациент надевает ночные линзы и спит в них не менее 6-8 часов, в течение которых
                        под
                        закрытыми веками роговица принимает форму линзы.
                    </li>
                    <li class="list__item slide-left-animation animation-delay-2">
                        Задняя поверхность линзы Мунленз сконструирована таким образом, чтобы слезный слой под
                        линзой
                        распределялся
                        неравномерно. Это ведет к возникновению разности капиллярных сил и изменению формы передней
                        поверхности роговицы
                        расчетным образом и на заданную величину. При этом очень важно, что линза не касается
                        роговицы!
                    </li>
                    <li class="list__item slide-left-animation animation-delay-3">
                        Утром, после снятия MoonLens, роговица сохраняет форму линзы в течение 24 часов. В это время
                        зрение
                        достигает 100% и не
                        нужно надевать очки или дневные линзы!
                    </li>
                </ul>
                <button type="button" class="button how-it-works__more-info-button more-info-button slide-up-animation animation-delay-4">
                    Подробнее о линзах MoonLens
                </button>
            </div>
        </section>

        <section class="advantages">
            <div class="advantages__item slide-right-animation animation-delay-0">
                <picture class="advantages__image">
                    <source srcset="images/advantages__image1.webp" type="image/webp">
                    <img src="images/advantages__image1.svg" alt="advantages__image1" class="">
                </picture>
                <h4 class="advantages__title">
                    Удобны<br>при ношении
                </h4>
                <p class="advantages__text">
                    Уникальные край линзы Мунленз делает ношение линзы более комфортным. Пациенты<br>не чувствуют
                    линзы во время сна
                </p>
            </div>
            <div class="advantages__item slide-up-animation animation-delay-1">
                <picture class="advantages__image">
                    <source srcset="images/advantages__image2.webp" type="image/webp">
                    <img src="images/advantages__image2.png" alt="advantages__image2" class="">
                </picture>
                <h4 class="advantages__title">
                    Простота ухода<br>и использования
                </h4>
                <p class="advantages__text">
                    Мунленз легко надеть и снять. Уход за линзами не отличается<br>от ухода за другими ЖКЛ линзами
                </p>
            </div>
            <div class="advantages__item slide-up-animation animation-delay-2">
                <picture class="advantages__image">
                    <source srcset="images/advantages__image3.webp" type="image/webp">
                    <img src="images/advantages__image3.png" alt="advantages__image3" class="">
                </picture>
                <h4 class="advantages__title">
                    Длительный срок службы
                </h4>
                <p class="advantages__text">
                    Линзы носятся 1 год, по истечении года требуется замена на новую пару линз
                </p>
            </div>
            <div class="advantages__item slide-left-animation animation-delay-3">
                <picture class="advantages__image">
                    <source srcset="images/advantages__image4.webp" type="image/webp">
                    <img src="images/advantages__image4.png" alt="advantages__image4" class="">
                </picture>
                <h4 class="advantages__title">
                    Эффект<br>обратимый
                </h4>
                <p class="advantages__text">
                    При прекращении ношении Мунленз зрение возвращается<br>в исходное состояние и можно выбрать
                    альтернативный способ коррекции
                    зрения
                </p>
            </div>
        </section>

        <section class="leader">
            <div class="leader__content">
                <h3 class="leader__section-title section-title fade-in-animation">
                    Moonlens – лидер индустрии
                </h3>
                <ul class="leader__list list">
                    <li class="list__item slide-right-animation animation-delay-0">
                        Разработаны ведущей американской компанией KATT Design Group Inc. под руководством
                        легендарного
                        ученного Джона Маунтфорда
                    </li>
                    <li class="list__item slide-right-animation animation-delay-1">
                        Новейшая разработка, которая воплотила в себе лучшие практики в ортокератолигии за
                        последние
                        20 лет.
                    </li>
                    <li class="list__item slide-right-animation animation-delay-2">
                        Применяются более чем в 50 странах Северной Америки, Европы, Азии, Австралии.
                    </li>
                    <li class="list__item slide-right-animation animation-delay-3">
                        Разрешены FDA для серийного применения в США.
                    </li>
                </ul>
                <button type="button" class="button leader__more-info more-info-button slide-up-animation animation-delay-5">
                    Подробнее о линзах MoonLens
                </button>
            </div>

            <picture class="leader__image slide-left-animation">
                <source srcset="images/leader__image.webp" type="image/webp">
                <img src="images/leader__image.png" alt="leader__image" class="image">
            </picture>
        </section>
    </div>

    <section class="info-bar">
        <div class="container">
            <p class="info-bar__text slide-up-animation">
                Изготавливаются как серийно, так и индивидуально<br>под конкретного пациента при нестандартных
                случаях
            </p>

            <img class="info-bar__eye fade-in-animation animation-delay-0 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-5">
            <img class="info-bar__eye fade-in-animation animation-delay-1 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-6">
            <img class="info-bar__eye fade-in-animation animation-delay-2 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-7">
            <img class="info-bar__eye fade-in-animation animation-delay-3 animation-duration-10" src="images/info-bar__eye.svg" alt="info-bar__eye" id="info-bar__eye-8">
        </div>
    </section>

    <div class="container">
        <section class="safety">
            <div class="safety__images">
                <picture class="safety__image slide-right-animation animation-delay-0" id="safety__image-1">
                    <source srcset="images/safety__image1.webp" type="image/webp">
                    <img src="images/safety__image1.png" alt="safety__image1" class="image">
                </picture>
                <picture class="safety__image slide-down-animation animation-delay-1" id="safety__image-2">
                    <source srcset="images/safety__image2.webp" type="image/webp">
                    <img src="images/safety__image2.png" alt="safety__image2" class="image">
                </picture>
                <picture class="safety__image slide-up-animation animation-delay-2" id="safety__image-3">
                    <source srcset="images/safety__image3.webp" type="image/webp">
                    <img src="images/safety__image3.png" alt="safety__image3" class="image">
                </picture>
                <picture class="safety__image slide-left-animation animation-delay-3" id="safety__image-4">
                    <source srcset="images/safety__image4.webp" type="image/webp">
                    <img src="images/safety__image4.png" alt="safety__image4" class="image">
                </picture>
            </div>
            <div class="safety__content">
                <h3 class="safety__section-title section-title slide-left-animation animation-delay-0">
                    Moonlens – эффективны и безопасны
                </h3>
                <ul class="safety__list list">
                    <li class="list__item slide-left-animation animation-delay-1">
                        Благодаря уникальному запатентованному дизайну TLD (Tier Layer Design) MoonLens:
                    </li>
                    <li class="list__item slide-left-animation animation-delay-2">
                        Прошли длительные клинические испытания в Тихоокеанском Университете Оптометрии (США), и
                        подтвердили
                        соответствие строгим стандартам высокой эффективности и безопасности.
                    </li>
                    <li class="list__item slide-left-animation animation-delay-3">
                        Изготавливаются как серийно, так индивидуально под конкретного пациента при нестандартных
                        случаях
                    </li>
                </ul>
                <button type="button" class="button safety__more-info-button more-info-button slide-up-animation animation-delay-4">
                    Подробнее о линзах MoonLens
                </button>
            </div>
        </section>
    </div>

    <section class="info-bar-advantages">
        <div class="container">
            <div class="info-bar-advantages__content">
                <div class="info-bar-advantages__item slide-up-animation animation-delay-0">
                    <img src="images/info-bar-advantages__image1.svg" alt="info-bar-advantages__image1"
                        class="info-bar-advantages__image">
                    <p class="info-bar-advantages__text">
                        Более деликатно и безопасно воздействуют на роговицы, при этом не касаясь её
                    </p>
                </div>
                <div class="info-bar-advantages__item slide-up-animation animation-delay-1">
                    <img src="images/info-bar-advantages__image2.svg" alt="info-bar-advantages__image2"
                        class="info-bar-advantages__image">
                    <p class="info-bar-advantages__text">
                        Эффективно корректируют зрение во время сна, которого хватает на весь следующий день
                    </p>
                </div>
                <div class="info-bar-advantages__item slide-up-animation animation-delay-2">
                    <img src="images/info-bar-advantages__image3.svg" alt="info-bar-advantages__image3"
                        class="info-bar-advantages__image">
                    <p class="info-bar-advantages__text">
                        Замедляют, а в ряде случаев останавливают развитие близорукости у подростков
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="materials" id="materials">
            <div class="materials__content">
                <h3 class="materials__section-title section-title slide-right-animation animation-delay-0">
                    Лучшие газопроницаемые материалы
                </h3>
                <ul class="materials__list list">
                    <li class="list__item slide-right-animation animation-delay-1">
                        Используются лучшие материалы для производства контактных линз с кислородопроницаемостью от
                        100 Dk до 200 Dk
                    </li>
                    <li class="list__item slide-right-animation animation-delay-2">
                        Может использоваться разный цвет для левого и правого глаза для более удобного пользования
                    </li>
                    <li class="list__item slide-right-animation animation-delay-3">
                        Выбор материала не влияет на стоимость линзы!
                    </li>
                </ul>
                <button type="button" class="button materials__more-info-button more-info-button slide-up-animation animation-delay-4">
                    Подробнее о материалах
                </button>
            </div>
            <div class="materials__partner-list partner-list">
                <a href="#" class="partner-list__item slide-up-animation animation-delay-0" target="__blank">
                    <div class="partner-list__title">
                        Boston® XO / XO2
                    </div>
                    <p class="partner-list__subtitle">
                        Bausch Health Inc., США
                    </p>
                </a>
                <a href="#" class="partner-list__item slide-up-animation animation-delay-1" target="__blank">
                    <div class="partner-list__title">
                        Optimum® Extra / Extreme / Infinite
                    </div>
                    <p class="partner-list__subtitle">
                        Contamac Inc., Великобритания
                    </p>
                </a>
                <a href="#" class="partner-list__item slide-up-animation animation-delay-2" target="__blank">
                    <div class="partner-list__title">
                        Paragon® HDS
                    </div>
                    <p class="partner-list__subtitle">
                        Paragon Vision Sciences Inc., США
                    </p>
                </a>
                <a href="#" class="partner-list__item slide-up-animation animation-delay-3" target="__blank">
                    <div class="partner-list__title">
                        Acuity® 100 / 200
                    </div>
                    <p class="partner-list__subtitle">
                        Acuity Polymers Inc., США
                    </p>
                </a>
            </div>
            <picture class="materials__image slide-left-animation animation-delay-3">
                <source srcset="images/materials__image.webp" type="image/webp">
                <img src="images/materials__image.png" alt="materials__image" class="image">
            </picture>
        </section>

        <section class="professionals">
            <picture class="professionals__image slide-right-animation">
                <source srcset="images/professionals__image.webp" type="image/webp">
                <img src="images/professionals__image.png" alt="professionals__image" class="image">
            </picture>

            <div class="professionals__content">
                <h3 class="professionals__section-title section-title slide-left-animation animation-delay-0">
                    Профессионализм на 5+
                </h3>

                <ul class="professionals__list list">
                    <li class="list__item slide-left-animation animation-delay-1">
                        Подбор Мунленз и наблюдение пациента проводится обученными и сертифицированными врачами
                        офтальмологами
                    </li>
                    <li class="list__item slide-left-animation animation-delay-2">
                        Куда бы вы не обратились за приобретением или подбором линз — с ВАМИ будут работать
                        ПРОФЕССИОНАЛЫ
                    </li>
                    <li class="list__item slide-left-animation animation-delay-3">
                        Производятся всего в нескольких высокотехнологичных лабораториях во всем мире с внедренной
                        системой
                        менеджмента качества
                        ISO 13 485
                    </li>
                    <li class="list__item slide-left-animation animation-delay-4">
                        Имеют все разрешительные документы для применения в Вашей стране
                    </li>
                    <li class="list__item slide-left-animation animation-delay-5">
                        Каждая линза проходит сплошной контроль качества
                    </li>
                </ul>

                <button type="button"  data-scroll="#search" class="professionals-clinic-choose-button 
                clinic-choose-button button slide-up-animation animation-delay-3">
                    Выбрать клинику
                </button>
            </div>
        </section>

        <section class="recommendation" id="recommendation">
            <h3 class="recommendation__title slide-up-animation">
                Рекомендации врачей
            </h3>

            <!-- Swiper begin -->
            <div class="recommendation__slider swiper">
                <div class="swiper-wrapper">
                    <div class="slider-item swiper-slide">
                        <div class="slider-item__content">
                            <span class="slider-item__bg-circle bg-circle"></span>
                            <div class="slider-item__header">
                                <picture class="slider-item__image">
                                    <source srcset="images/recommendation__image1.webp" type="image/webp">
                                    <img src="images/recommendation__image1.png" alt="recommendation__image1" class="">
                                </picture>
                                <div class="slider-item__name">
                                    <h5 class="slider-item__title">
                                        Анна
                                    </h5>
                                    <p class="slider-item__subtitle">
                                        Хирург
                                    </p>
                                </div>
                            </div>
                            <p class="slider-item__text">
                                Quis occaecat id mollit sint est ex magna proident pariatur reprehenderit excepteur
                                officia dolor. Cillum officia
                                deserunt commodo Lorem. Esse nulla elit eu laboris deserunt non elit deserunt. Culpa
                                Lorem aliquip in elit duis occaecat
                                ipsum. Incididunt laborum deserunt ad sint deserunt commodo irure incididunt minim...
                            </p>
                        </div>
    
                        <div class="slider-item__video video">
                            <picture class="video__image">
                                <source srcset="images/video__image1.webp" type="image/webp">
                                <img src="images/video__image1.png" alt="video__image1" class="">
                            </picture>
                            <div class="video__content">                               
                                <svg class="video__video-play-button video-play-button" id="video-play-button" data-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
                                    <use xlink:href="#play-button"></use>
                                </svg>
                                <div class="video__name">
                                    <h5 class="video__title">
                                        Анна
                                    </h5>
                                    <p class="video__subtitle">
                                        Хирург
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item swiper-slide">
                        <div class="slider-item__content">
                            <span class="slider-item__bg-circle bg-circle"></span>
                            <div class="slider-item__header">
                                <picture class="slider-item__image">
                                    <source srcset="images/recommendation__image1.webp" type="image/webp">
                                    <img src="images/recommendation__image1.png" alt="recommendation__image1" class="">
                                </picture>
                                <div class="slider-item__name">
                                    <h5 class="slider-item__title">
                                        Анна
                                    </h5>
                                    <p class="slider-item__subtitle">
                                        Хирург
                                    </p>
                                </div>
                            </div>
                            <p class="slider-item__text">
                                Quis occaecat id mollit sint est ex magna proident pariatur reprehenderit excepteur
                                officia dolor. Cillum officia
                                deserunt commodo Lorem. Esse nulla elit eu laboris deserunt non elit deserunt. Culpa
                                Lorem aliquip in elit duis occaecat
                                ipsum. Incididunt laborum deserunt ad sint deserunt commodo irure incididunt minim...
                            </p>
                        </div>
    
                        <div class="slider-item__video video">
                            <picture class="video__image">
                                <source srcset="images/video__image1.webp" type="image/webp">
                                <img src="images/video__image1.png" alt="video__image1" class="">
                            </picture>
                            <div class="video__content">                               
                                <svg class="video__video-play-button video-play-button" id="video-play-button" 
                                data-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
                                    <use xlink:href="#play-button"></use>
                                </svg>
                                <div class="video__name">
                                    <h5 class="video__title">
                                        Анна
                                    </h5>
                                    <p class="video__subtitle">
                                        Хирург
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item swiper-slide">
                        <div class="slider-item__content">
                            <span class="slider-item__bg-circle bg-circle"></span>
                            <div class="slider-item__header">
                                <picture class="slider-item__image">
                                    <source srcset="images/recommendation__image1.webp" type="image/webp">
                                    <img src="images/recommendation__image1.png" alt="recommendation__image1" class="">
                                </picture>
                                <div class="slider-item__name">
                                    <h5 class="slider-item__title">
                                        Анна
                                    </h5>
                                    <p class="slider-item__subtitle">
                                        Хирург
                                    </p>
                                </div>
                            </div>
                            <p class="slider-item__text">
                                Quis occaecat id mollit sint est ex magna proident pariatur reprehenderit excepteur
                                officia dolor. Cillum officia
                                deserunt commodo Lorem. Esse nulla elit eu laboris deserunt non elit deserunt. Culpa
                                Lorem aliquip in elit duis occaecat
                                ipsum. Incididunt laborum deserunt ad sint deserunt commodo irure incididunt minim...
                            </p>
                        </div>
    
                        <div class="slider-item__video video">
                            <picture class="video__image">
                                <source srcset="images/video__image1.webp" type="image/webp">
                                <img src="images/video__image1.png" alt="video__image1" class="">
                            </picture>
                            <div class="video__content">                               
                                <svg class="video__video-play-button video-play-button" id="video-play-button" 
                                data-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
                                    <use xlink:href="#play-button"></use>
                                </svg>
                                <div class="video__name">
                                    <h5 class="video__title">
                                        Анна
                                    </h5>
                                    <p class="video__subtitle">
                                        Хирург
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>     
            </div>
            <!-- Swiper end -->

        </section>

        <section class="FAQ" id="FAQ">
            <h3 class="FAQ__section-title section-title slide-up-animation">
                Часто задаваемые вопросы
            </h3>   

            <div class="FAQ__questions questions" id="FAQ-questions">
                <div class="questions__col">

                    <div class="questions__item slide-right-animation animation-delay-0" data-state>
                        <div class="questions__header">
                            <svg class="questions__icon">
                                <use xlink:href="#question-icon"></use>
                            </svg>
                            <h4>Кто разработал конструкцию ночных линз MoonLens?</h4>
                        </div>

                        <div class="questions__text">
                            <p>
                                MoonLens созданы признанным мировым лидером в области разработки
                                специализированных контактных линз – компанией KATT Design Group
                                Inc. (США, Канада , Австралия), под руководством легендарного 
                                ученого (США, Канада, Австралия) – доктора Джона Маунтфорда / John Mountford.
                            </p>
                        </div>
                    </div>

                    <div class="questions__item slide-right-animation animation-delay-1" data-state>
                        <div class="questions__header">
                            <svg class="questions__icon">
                                <use xlink:href="#question-icon"></use>
                            </svg>
                            <h4>Как долго можно использовать ночные линзы Moonlens?</h4>
                        </div>

                        <div class="questions__text">
                            <p>
                                Одну пару линз Мунленз можно носить 1 год.
                                После этого нужно пройти повторное обследование
                                у специалиста и приобрести новую пару.
                            </p>
                            <p>
                                Вовремя меняя ночные линзы и соблюдая все 
                                рекомендации врача, можно носить без перерыва 
                                до 60 лет, пока не начнутся возрастные изменения глаз.
                            </p>
                            <p>
                                В мире уже есть пациенты, которые носят ночные линзы 
                                без перерыва более 30 лет! Это – отличная современная 
                                альтернатива очкам и мягким контактным линзам!
                            </p> 
                        </div>
                    </div>

                    <div class="questions__item slide-right-animation animation-delay-2" data-state>
                        <div class="questions__header">
                            <svg class="questions__icon">
                                <use xlink:href="#question-icon"></use>
                            </svg>
                            <h4>Что будет, если перестать пользоваться линзами?</h4>
                        </div>

                        <div class="questions__text">
                            <p>
                                Эффект ортокератологических линз полностью обратим:
                                если прекратить использовать MoonLens, через 
                                несколько дней роговица приобретает свою первоначальную
                                форму и зрение вернется к исходным показателям.
                            </p>
                            <p>
                                Поэтому пациент при желании может в любой момент 
                                выбрать альтернативный способ коррекции зрения 
                                (очки, дневные контактные линзы, лазерная коррекция
                                зрения при достижении 18 лет).
                            </p>
                        </div>
                    </div>

                </div>

                <div class="questions__col">

                    <div class="questions__item slide-left-animation animation-delay-0" data-state>
                        <div class="questions__header">
                            <svg class="questions__icon">
                                <use xlink:href="#question-icon"></use>
                            </svg>
                            <h4>Насколько сложно надевать и снимать ночные линзы MoonLens?</h4>
                        </div>              
                        
                        <div class="questions__text">
                            <p>
                                Подростки обычно учатся  надевать и снимать 
                                ночные линзы самостоятельно примерно за неделю. 
                                Да, каждый день им приходится по утрам и вечерам 
                                совершать определенный набор действий (помыть руки, 
                                разложить все аксессуары, закапать капли, надеть или 
                                снять линзы, промыть контейнер и т.д.), но оно того стоит. 
                                Достаточно послушать восторженные отзывы тех, кто использует 
                                ночные линзы, чтобы убедиться в действенности этого метода, 
                                дарящего людям зрение.
                            </p>
                            <p>
                                Школьникам начальных классов использовать ночные линзы, 
                                как правило, помогают взрослые. Чаще всего первые 
                                несколько дней родители одевают линзы детям сами. 
                                Затем ребенок постепенно учится выполнять все необходимые 
                                процедуры самостоятельно, но под чутким контролем взрослых, 
                                что предотвращает возможные ошибки. Родители же обеспечивают 
                                правильный уход за линзами, ведь от чистоты, стерильности и должного 
                                соблюдения гигиены во многом зависит результат.
                            </p>
                        </div>
                    </div>

                    <div class="questions__item slide-left-animation animation-delay-1" data-state> 
                        <div class="questions__header">
                            <svg class="questions__icon">
                                <use xlink:href="#question-icon"></use>
                            </svg>
                            <h4>Сколько времени нужно носить ночные линзы для достижения 100% зрения?</h4>
                        </div> 

                        <div class="questions__text">
                            <p>
                                Для получения максимального эффекта пациент должен 
                                спать в ночных линзах MoonLens в среднем 8 часов в 
                                сутки (от 6 до 10 часов). Их следует надевать за 15–20 
                                минут до сна и снимать сразу после пробуждения. После 
                                снятия линз острота зрения достигает 100% без очков и 
                                дневных контактных линз.
                            </p>
                            <p>
                                При этом заметное улучшение наступает уже после 
                                первого использования ночных линз MoonLens! 
                                Полностью же зрение восстанавливается при низкой 
                                миопии за 2–3 ночи, при высокой – за одну-две недели.
                            </p>
                        </div>
                    </div>

                    <div class="questions__item slide-left-animation animation-delay-2" data-state>
                        <div class="questions__header">
                            <svg class="questions__icon">
                                <use xlink:href="#question-icon"></use>
                            </svg>
                            <h4>Какую степень близорукости можно корректировать с помощью MoonLens?</h4>
                        </div> 
                        
                        <div class="questions__text">
                            <p>
                                Ночные линзы MoonLens позволяют безопасно корректировать 
                                близорукость слабой, средней и высокой степени до 7,0 
                                дптр без астигматизма или с астигматизмом до 4,0 дптр , 
                                благодаря изменению формы верхнего слоя эпителия роговицы.
                            </p>
                            <p>
                                Важно отметить, что, согласно научным данным, 
                                толщину эпителия можно уменьшать не более чем на 
                                20 микрон, что эквивалентно 6,5–7 диоптриям. Поэтому 
                                безопасно корректировать зрение ночными линзами возможно лишь до 7 диоптрий.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

            <button type="button" class="FAQ__question-button button slide-up-animation" id="question-button">
                Задать свой вопрос
            </button>
        </section>

    </div>

    <section class="map">
        <div class="container">
            <div class="map__search search" id="search">
                <h3 class="search__title section-title">
                    Выберите клинику и запишитесь на приём:
                </h3>
                <div class="search__search-box search-box" id="search-box">
                    <div class="search-box__select" id="select">
        
                        <!-- Начало селектов -->
        
                        <div class="country-select" id="country-select" data-state="close" data-value="">
                            <div class="country-select__title">
                                <svg class="select-icon">
                                    <use xlink:href="#select-icon"></use>
                                </svg>
                                <span class="select-text"></span>
                                <svg class="select-arrow">
                                    <use xlink:href="#select-arrow"></use>
                                </svg>
                            </div>
                            
                            <ul class="country-select__content">
                                <li class="country-select__item" data-value="0" data-checked="true">Все страны</li>
                            </ul>
                        </div>
        
                        <div class="city-select" id="city-select" data-state="close" data-state="close" data-value="">
                            <div class="city-select__title">
                                <svg class="select-icon">
                                    <use xlink:href="#select-icon"></use>
                                </svg>
                                <span class="select-text"></span>
                                <svg class="select-arrow">
                                    <use xlink:href="#select-arrow"></use>
                                </svg>
                            </div>
                            <ul class="city-select__content">  
                                <li class="city-select__item" data-value="0" data-checked="true">Все города</li>
                            </ul>
                        </div>
                        
                        <!-- Конец селектов -->
        
                    </div>
                    <ul class="search-box__output output" id="output"></ul>
                </div>
            </div>
        </div>
        <div id="map" style="width: 100%; height: 80vh; max-height: 700px;"></div>
    </section>

</main>