<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__item personal-data">
                <a class="personal-data__text more-info-button">
                    Положение о защите<br>персональных данных
                </a>
            </div>
            <div class="footer__item">
                <div class="footer__social social">
                    <a href="#" class="social__item">
                        <img class="footer__social-icon social__icon" src="images/instagramm.svg" alt="">
                    </a>
                    <a href="#" class="social__item">
                        <img class="footer__social-icon social__icon" src="images/instagramm.svg" alt="">
                    </a>
                    <a href="#" class="social__item">
                        <img class="footer__social-icon social__icon" src="images/instagramm.svg" alt="">
                    </a>
                    <a href="#" class="social__item">
                        <img class="footer__social-icon social__icon" src="images/instagramm.svg" alt="">
                    </a>
                    <a href="#" class="social__item">
                        <img class="footer__social-icon social__icon" src="images/instagramm.svg" alt="">
                    </a>
                    <a href="#" class="social__item">
                        <img class="footer__social-icon social__icon" src="images/instagramm.svg" alt="">
                    </a>
                </div>
                <div class="footer__copyright">
                    <p>© KATT Design Group Inc. © Smart Optix LLC.</p>
                </div>
            </div>
            <div class="footer__item">
                <picture class="footer__logo">
                    <source srcset="images/footer__logo.webp" type="image/webp">
                    <img src="images/footer__logo.png" alt="footer__logo">
                </picture>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
<script src="js/map.js"></script>