<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__item personal-data">
                <a class="personal-data__link">
                    Положение о защите<br>персональных данных
                </a>
            </div>
            <div class="footer__item">
                <div class="footer__social social">
                    <a href="#" class="social__item" target="_blank">
                        <svg class="footer__social-icon social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="social__item" target="_blank">
                        <svg class="footer__social-icon social__icon">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                    <a href="#" class="social__item" target="_blank">
                        <svg class="footer__social-icon social__icon">
                            <use xlink:href="#rss"></use>
                        </svg>
                    </a>
                    <a href="#" class="social__item" target="_blank">
                        <svg class="footer__social-icon social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="social__item" target="_blank">
                        <svg class="footer__social-icon social__icon">
                            <use xlink:href="#ok"></use>
                        </svg>
                    </a>
                    <a href="#" class="social__item" target="_blank">
                        <svg class="footer__social-icon social__icon">
                            <use xlink:href="#instagramm"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer__copyright">
                    <a href="https://github.com/LesnoyPudge" target="_blank">LesnoyPudge</a>
                </div>
            </div>
            <div class="footer__item">
                <picture class="footer__logo">
                    <source srcset="images/logo.webp" type="image/webp">
                    <img src="images/logo.png" alt="footer__logo">
                </picture>
            </div>
        </div>
    </div>
</footer>