<header class="header" id="header">
    
    <div class="container">

        <div class="header__navbar navbar" id="navbar" data-state="">

            <a class="navbar__logo" href="#">
                <picture>
                    <source srcset="images/logo.webp" type="image/webp">
                    <img src="images/logo.png" alt="logo">
                </picture>
            </a>

            <nav class="navbar__nav nav" id="nav">
                <a class="nav__item" href="#" data-scroll="#how-it-works">О линзах MoonLens</a>
                <a class="nav__item" href="#" data-scroll="#materials">Материалы</a>
                <a class="nav__item" href="#" data-scroll="#recommendation">Рекомандации</a>
                <a class="nav__item" href="#" data-scroll="#search">Где купить?</a>
            </nav>

            <div class="navbar__social social">
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#rss"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#ok"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#instagramm"></use>
                    </svg>
                </a>
            </div>

            <div class="navbar__burger burger" type="button" data-state="close" id="burger">
                <span class="burger__bar"></span>
            </div>

        </div>

    </div>
</header>