<header class="header">
    
    <div class="container">

        <div class="header__navbar navbar">

            <a class="navbar__logo" href="#">
                <picture>
                    <source srcset="images/logo.webp" type="image/webp">
                    <img src="images/logo.png" alt="logo">
                </picture>
            </a>

            <nav class="navbar__nav nav">
                <a class="nav__item" href="#" data-scroll="#how-it-works">О линзах MoonLens</a>
                <a class="nav__item" href="#" data-scroll="#materials">Материалы</a>
                <a class="nav__item" href="#" data-scroll="#recommendation">Рекомандации</a>
                <a class="nav__item" href="#" data-scroll="#map">Где купить?</a>
            </nav>

            <!-- <div class="navbar__language language">
                <picture class="language__icon">
                    <source srcset="images/RU.webp" type="image/webp">
                    <img src="images/RU.png" alt="lang-icon">
                </picture>
                <select class="language__select">
                    <option class="language__option" value="1">Русский</option>
                    <option class="language__option" value="2">English</option>
                </select>
            </div> -->

            <div class="navbar__social social">
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#rss"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#facebook"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#ok"></use>
                    </svg>
                </a>
                <a href="#" class="social__item" target="_blank">
                    <svg class="navbar__social-icon social__icon">
                        <use xlink:href="#instagramm"></use>
                    </svg>
                </a>
            </div>

        </div>

    </div>
</header>