<!-- Модальные окна -->

<div class="modal" id="how-it-works-modal" data-state="">
    <div class="modal__wrapper">
        <div class="modal__content how-it-works-box" id="how-it-works-box">
            <div class="how-it-works-box__header">
                <div class="how-it-works-box__title">
                    Как работают ночные линзы MoonLens
                </div>
                <svg class="how-it-works-box__close-button modal-close">
                    <use xlink:href="#close-button"></use>
                </svg>
            </div>
            <div class="how-it-works-box__content">
                <p>
                    <b>Близорукость (миопия)</b> — заболевание, при котором человек 
                    четко видит объекты, расположенные вблизи, и плохо различает удаленные предметы.
                    При близорукости изображение фокусируется не на сетчатке 
                    глаза, а перед ней, и поэтому оно воспринимается как нечеткое.
                </p>
                <p>
                    <b>Ночные линзы MoonLens</b> во время ночного сна изменяют 
                    форму самого верхнего слоя эпителия роговицы и возвращают 
                    фокусное расстояние глаза в естественное физиологическое.
                </p>
                <p>
                    Эффект наступает благодаря уникальному дизайну MoonLens. Линза не касается роговицы!
                </p>
                <p>
                    Задняя поверхность MoonLens сконструирована таким образом, 
                    чтобы слой слезной жидкости пациента в подлинзовом пространстве 
                    был неравномерным, что ведет к возникновению разности капиллярных 
                    сил, которые расчетным образом меняют форму передней поверхности роговицы.
                </p>
                <p>
                    Эти изменения происходят контролируемо, расчетным образом 
                    и на заданную величину. При этом линзы исключительно 
                    комфортны и не вызывают никаких ощущений во время сна. 
                    Особенность метода в том, что после снятия линз, острота зрения сохраняется до 48 часов.
                </p>
                <p>
                    Для поддержания эффекта в линзах MoonLens нужно спать не менее 6 часов.
                </p>
                <p>
                    Эффект ортокератологических линз полностью обратим: если прекратить 
                    использовать MoonLens, роговица приобретает свою первоначальную 
                    форму через несколько дней, что позволяет выбрать любой другой метод 
                    коррекции зрения по желанию пациента (очки, дневные контактные линзы, лазерная коррекция зрения).
                </p>
            </div>
        </div>
    </div>
    
</div>

<div class="modal" id="video-modal" data-state="">
    <div class="modal__wrapper">
        <div class="modal__content video-box" id="video-box"></div>
    </div>
</div>

<div class="modal" id="question-modal" data-state="">
    <div class="modal__wrapper">
        <div class="modal__content question-box" id="question-box">
            <div class="question-box__header">
                <div class="question-box__title">
                    Задайте свой вопрос
                </div>
                <svg class="question-box__close-button modal-close" id="modal-close">
                    <use xlink:href="#close-button"></use>
                </svg>
            </div>
            <form class="question-box__question-form question-form" id="question-form">
    
                <label class="question-form__label outlined-label" >
                    <span class="question-form__outlined-text outlined-text">Ваше имя</span>
                    <input class="question-form__input outlined-input" name="client-name" type="text" value placeholder="Иванов Иван Иванович" >
                </label>
    
                <label class="question-form__label outlined-label" >
                    <span class="question-form__outlined-text outlined-text">Ваш телефон</span>
                    <input class="question-form__input outlined-input" name="client-phone" type="tel" value placeholder="8 800 555 35 35" >
                </label>
                
                <label class="question-form__label outlined-label" >
                    <span class="question-form__outlined-text outlined-text">Ваш E-mail</span>
                    <input class="question-form__input outlined-input" name="client-email" type="email" value placeholder="myemail@.ru">
                </label>
    
                <label class="question-form__label outlined-label" >
                    <span class="question-form__outlined-text outlined-text">Текст вопроса</span>
                    <textarea class="question-form__textarea outlined-input" name="textarea" maxlength="255" placeholder="Вопрос, на который не нашли ответа"></textarea>
                </label>
                
                <button class="question-form__confirm-button confirm-button" name="confirm-button" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="order-modal" data-state="">
    <div class="modal__wrapper">
        <div class="modal__content order-box" id="order-box">
            <div class="order-box__header">
                <div class="order-box__title">
                    Запишитесь на приём
                </div>
                <svg class="order-box__close-button modal-close">
                    <use xlink:href="#close-button"></use>
                </svg>
            </div>
            <form class="order-box__order-form order-form" id="order-form">
    
                <label class="order-form__label outlined-label" >
                    <span class="order-form__outlined-text outlined-text">Клиника</span>
                    <input class="order-form__input outlined-input" name="clinic-name" type="text" value disabled required>
                </label>
    
                <label class="order-form__label outlined-label" >
                    <span class="order-form__outlined-text outlined-text">Город</span>
                    <input class="order-form__input outlined-input" name="clinic-city" type="text" value disabled required>
                </label>
    
                <label class="order-form__label outlined-label" >
                    <span class="order-form__outlined-text outlined-text">Ваше имя</span>
                    <input class="order-form__input outlined-input" name="client-name" type="text" value placeholder="Иванов Иван Иванович" >
                </label>
    
                <label class="order-form__label outlined-label" >
                    <span class="order-form__outlined-text outlined-text">Ваш телефон</span>
                    <input class="order-form__input outlined-input" name="client-phone" type="tel" value placeholder="8 800 555 35 35" >
                </label>
                
                <label class="order-form__label outlined-label" >
                    <span class="order-form__outlined-text outlined-text">Ваш E-mail</span>
                    <input class="order-form__input outlined-input" name="client-email" type="email" value placeholder="myemail@.ru">
                </label>
                
                <button class="order-form__confirm-button confirm-button" name="confirm-button" type="submit">Оставить заявку</button>
            </form>
        </div>
    </div>
</div>

    