.FAQ {
    display: flex;
    flex-direction: column;
    margin-bottom: 148px;
    align-items: center;
    gap: 48px;

    &__section-title {
        text-align: center;
        margin-bottom: 48px;
    }
    &__questions {}
    &__question-button {
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 2.4rem;
        background-color: transparent;
        color: #153862;
        border: 0;
        border-bottom: 2px solid #153862;
    }
}

.questions {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    // flex-wrap: wrap;

    &__col {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        background-color: #E9F1FA;
        border-radius: 16px;
        padding: 20px 14px 0px 14px;
        gap: 20px;

        &[data-state=open] {
            padding-bottom: 20px;
            
            .questions__text {
                opacity: 1;
            }
            .questions__icon {
                fill: $bg-button-primary--theme-light;
            }
        }
    }

    &__icon {
        fill: #153862;
        height: 33px;
        width: 33px;
        min-width: 33px;
        transition: 0s linear;
    }
    &__header {
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.6rem;
        display: flex;
        flex-direction: row;
        gap: 5px;
        cursor: pointer;
    }
    &__text {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        line-height: 2.4rem;
        overflow: hidden;
        transition: 0.2s linear;
        height: 0px;
        opacity: 0; 
        gap: 16px;
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .FAQ {
        gap: 20px;
        margin-bottom: 20px;
    }
    .questions {
        gap: 20px;

        &__col {
            gap: 20px;
            margin-bottom: 0;
        }
    }
}
@media (max-width: 768px) {
    .questions {
        grid-template-columns: 1fr;

        &__header {
            text-align: center
        }
    }
}
@media (max-width: 576px) {
    .FAQ {
        &__section-title {
            font-size: 3.6rem;
            margin-bottom: 0;
        }
    }
    .questions {
        &__header {
            font-size: 2.6rem;
        }
    }
}