.info-bar-advantages {
    background-color: $bg-info-bar;
    margin-bottom: 70px;

    &__content {
        margin: 52px auto;
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    &__item {
        text-align: center;
        align-items: center;
    }
    &__image {
        width: 107px;
        height: 107px;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .info-bar-advantages {
        &__content {
            margin: 25px auto;  
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
    .info-bar-advantages {
        margin-bottom: 40px;
        
        &__content {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}