.search {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    width: 100%;
    max-width: 530px;
    background-color: $bg-seacrh;
    box-shadow: 0px 5px 30px rgba(9, 32, 39, 0.12);
    border-radius: 20px;
    padding: 44px 38px;
    margin-left: 50px;
    opacity: 0.5;
    transition: 0.3s;

    &__title {
        margin-bottom: 20px;
    }
    &__search-box {} 

    &:hover {
      opacity: 1;
    }
}

.search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    // border-bottom: 1px solid #AFAFAF;
    // border-radius: 0 0 0 0;
    // gap: 1px;
    // background-color: #fff;

    &__select {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: 60px;
        background-color: #AFAFAF;
        column-gap: 1px;
        border-radius: 5px 5px 0 0;
        border-top: 1px solid #afafaf;
    }
    &__output {}

    &__title {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    &__address {}
    &__email {}
    &__site-link {}
    &__phone {}
}

.country-select, .city-select {
  position: relative;
  height: 60px;
  width: 50%;
  border: none;
  background-color: #F5F5F5;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-bottom: 1px solid #AFAFAF;
  // justify-content: center;
  // align-items: center;
  // border-bottom: 1px solid #AFAFAF;

  &__title {
    display: flex;
    position: relative;
    height: 100%;
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &:hover {
    .select-icon {
      opacity: 1;
    }

    .select-arrow {
      opacity: 1;
    }
  }
  
  &[data-state=close] {
    .select-arrow {
      transform: rotate(0.5turn);
    }
    .country-select__content, .city-select__content {
      opacity: 0;
      // height: 1px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    opacity: 1;
    max-height: 150px;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s ease-in;
    border-width: 0px 1px 1px 1px;
    border-color: #afafaf;
    border-style: solid;
    // background-color: #afafaf;
    background-color: white;
    gap: 1px;
    border-radius: 0 0 5px 5px;
  }

  &__item {
    display: flex;
    width: 100%;
    height: 50px;
    min-height: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    cursor: pointer;

    &:last-child {
      // border-radius: 0 0 5px 5px;
    }

    &[data-checked=true] {
      background-color: whitesmoke;
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    &:hover {
      background-color: whitesmoke;
    }
  }
}

.country-select__title {
  border-radius: 5px 0 0 0;
  border-left: 1px solid #afafaf;
}

.city-select__title {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #afafaf;
}

.select-icon {
  position: absolute;
  left: 10px;
  fill: black;
  opacity: 0.5;
  width: 25px;
  height: 25px;
  transition: all 0.2s linear;
}

.select-arrow {
  position: absolute;
  right: 10px;
  fill: none;
  stroke: black;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  transition: all 0.2s linear;
}

.output {
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-color: #afafaf;
  height: 288px;
  max-height: 288px;

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding: 9px 36px;
    font-size: 1.7rem;
    line-height: 2.2rem;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: whitesmoke;
    }

    &[data-checked=true] {
      background-color: whitesmoke;
    }
  }

  &__name {}

  &__address {}
  &__email {}
  &__site {}
  &__phone {}
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
  .search {
    opacity: 1;
    position: relative;
    transform: none;
    max-width: none;
    box-shadow: none;
    margin-bottom: 10px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  .search {
    padding: 0 10px;

    &__title {
      font-size: 3rem;
    }
  }
}