.header {

    &__navbar {
        padding-top: 45px;
        padding-bottom: 95px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: $font-secondary--theme--light;

    &__logo {
        height: 37px;
    }
    &__nav {

    }
    &__language {

    }
    &__social {

    }
    &__social-icon {
        width: 34px;
        height: 34px;
        transition: 0.1s linear;
        fill: $bg-footer;
    
        &:hover {
            fill: #0066D9;
            transform: scale(1.1);
        }
    }
}

.nav {
    display: flex;
    column-gap: 35px;
    font-size: 1.8rem;
    align-items: center;

    &__item {
        opacity: 0.7;
        transition: 0.1s linear;

        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .header {
        &__navbar {
            padding-bottom: 50px;
        }
    }
    .navbar {
        &__nav {
            display: none;
        }
        &__social {
            display: none;
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}