.list {
    display: grid;
    row-gap: 20px;

    
    &__item {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
    &__item::before {
        content: url("../images/li-decoration.svg");
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}