.materials {
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 100px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__section-title {
    }
    &__list {
    }
    &__more-info-button {}

    &__image>img {
        border-radius: 8px;
    }
}

.partner-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // row-gap: 36px;

    &__item {
        opacity: 0.4;
        transition: 0.1s linear;
    }
    &__item:hover {
        opacity: 1;
    }
    &__title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
    }
    &__subtitle {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .materials {
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        margin-bottom: 70px;

        &__image {
            display: none;
        }
        &__content {
            gap: 40px;
        }
    }
}
@media (max-width: 768px) {
    .materials {
        grid-template-columns: 1fr;
        gap: 60px;

        &__content {
            margin: 0 40px 0 40px;
        }
    }
    .partner-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .materials {
        grid-template-columns: 1fr;
        gap: 40px;
        margin-bottom: 40px;

        &__section-title {
            font-size: 3.6rem;
        }
        &__content {
            gap: 20px;
            margin: 0 20px 0 20px;
        }
    }
}