.outlined-label {
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;


    .outlined-text {
        position: absolute;
        width: max-content;
        background-color: inherit;
        color: rgba(0, 0, 0, 0.8);
        top: 0px;
        left: 20px;
        transform: translate(0, -50%);
        padding: 0 5px 0 5px; 
    }

    .outlined-input {
        border: hidden;

        &:disabled {
            color: inherit;
            background-color: inherit;
        }
    }
}