.safety {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 155px;

    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
        margin-top: 15px;
        position: relative;
    }
    &__image {
        height: 100%;
    }
    &__image img {
        border-radius: 5px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__section-title {
    }
    &__list {
    }
    &__more-info-button {}
}

#safety__image {
    &-1 {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &-2 {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &-3 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &-4 {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .safety {
        grid-template-columns: 1fr;
        margin-bottom: 80px;

        &__images {
            display: none;
        }
        &__content {
            gap: 40px;
            margin: 0 40px 0 40px;
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
    .safety {
        margin-bottom: 50px;
        
        &__content {
            gap: 20px;
            margin: 0 20px 0 20px;
        }
    }
}