//#1c1c21 + #303033 + #424244

// Background colors

$bg-primary--theme--light: #fff;
$bg-secondary--theme--light: #E9F1FA;
$bg-button-primary--theme-light: #0066D9;
$bg-button-secondary--theme-light: #fff;
$bg-info-bar: #E9F1FA;
$bg-footer: #153862;
$bg-seacrh: #ffffff;

$bg-primary--theme--dark: #303033;
$bg-secondary--theme--dark: #303033;


// Font colors

$font-primary--theme--light: #000;
$font-secondary--theme--light: #fff;
$font-button-primary--theme--light: #fff;
$font-button-secondary--theme--light: #000;
$font-more-info-button: #153862;
$font-section-title: #001A4D;


$font-primary--theme--dark: #303033;
$font-secondary--theme--dark: #303033;